<div class="background-image">
  <app-navbar></app-navbar>
  <div class="limiter">
    <fa-icon [icon]="faPlus" class="add-task-btn pointer-cursor" (click)="toggleTaskView(true, 0)"></fa-icon>
    <div *ngFor="let task of tasks">
      <div (click)="toggleTaskView(true, task.id)">
        {{task.description}}
      </div>
    </div>
  </div>
</div>
<app-view-task class="task-view" *ngIf="isTaskViewOpen"
               (closeActive)="setViewTask($event, 0)"
               [taskId]="taskId"
               [eventId]="eventId"
></app-view-task>
