<div class="background-image">
  <app-navbar></app-navbar>
  <div class="limiter">
    <fa-icon [icon]="faPlus" class="add-task-btn pointer-cursor" (click)="toggleTaskView(true, 0)"></fa-icon>
    <div id="board">
      <div *ngFor="let task of tasks">

        <div class="task"
             [ngStyle]="{'background' : task.color}"
             [cdkDragData]="task" (cdkDragEnded)="taskDropped(task, $event)"
             [cdkDragFreeDragPosition]="getTaskLocation(task)"
             cdkDragBoundary="#board"
             cdkDrag>
          <div class="task-content" >
            <h3>{{task.title}}</h3>
            <p>{{task.description}}</p>

            <button (click)="setViewTask(true, task.id)" class="task-buttons">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-view-task class="task-view" *ngIf="isTaskViewOpen"
               (closeWindow)="setViewTask($event, 0)"
               [taskId]="taskId"
               [eventId]="eventId"
></app-view-task>
