



.background-image {
  background-image: linear-gradient(to bottom right, #a5dbe0, #528846);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.limiter {
  height: 95vh;
  display: flex;

  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 30px;
}

.event-details {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  width: 50%;
  align-items: center;
  gap: 15px;

}

.headline {
  font-size: 2.5rem;
}

.description {
  font-size: 1.2rem;
}



.event-board {
  position: relative;
  margin-top: 20px;
  height: calc(50% - 56px);
  width: 100%;
  background: rgba(255,255,255,0.25);
}

.add-task-btn {
  display: flex;
  font-size: 1.2rem;
  position: absolute;
  top: -50px;
  right: 10px;
  background: #88de73;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 1px 1px 3px 1px #56a256;
}

.add-task-btn:hover {
  cursor: pointer;
}

.edit-event-buttons {
  display: flex;
  gap: 10px;
  margin: 10px 0 0 auto;

}

.edit-event-buttons > *{
  cursor: pointer;
  background: #dadada;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 1px 1px 3px 1px #2c592c;
}

.edit-event-buttons fa-icon {
  margin-right: 10px;
}
