

  <div *ngIf="isEventLoaded" class="limiter">

    <div  class="event-details">
      <span class="headline">{{event.title}}</span>
      <span class="description">{{event.description}}</span>

    </div>

    <div class="event-board">
      <app-event-tasks [event]="event" ></app-event-tasks>
      <div class="add-task-btn" (click)="createTask()">
        <fa-icon [icon]="faPenToSquare" ></fa-icon>
        <span>Create new task</span>
      </div>
    </div>


    <div class="edit-event-buttons">
      <div class="delete-event" (click)="toggleDeleteEventConfirmation(true)">
        <fa-icon [icon]="faTrashCan"></fa-icon>
        <span>Delete event</span>
      </div>
      <div class="edit-event" (click)="editEvent()">
        <fa-icon  [icon]="faPencil"></fa-icon>
        <span>Edit event</span>
      </div>
      <div class="edit-event" (click)="toggleParticipatorWindow(true)">
        <fa-icon [icon]="faUsers"></fa-icon>
        <span>Participators</span>

      </div>
    </div>
  </div>

  <div class="delete-event-confirmation" *ngIf="deleteEventConfirmation">
    <div class="delete-event-confirmation-window">
      <span>Do you really want to delete event?</span>
      <button (click)="deleteEvent()">Yes</button>
      <button (click)="toggleDeleteEventConfirmation(false)">No</button>

    </div>
  </div>

  <app-invite-users *ngIf="openParticipatorsWindow"
              [event]="event"
              class="participators-window"
              (closeWindowEvent)="toggleParticipatorWindow(false)"
  (inviteUsers)="inviteUsers($event)">
  </app-invite-users>

