



.background-image {
  background-image: linear-gradient(to bottom right, #a5dbe0, #528846);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.limiter {
  position: relative;
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 30px;
}

.event-board {
  height: 50%;
  width: 100%;
  background: rgba(255,255,255,0.25);
}
