<div class="manage-users" (click)="closeWindowOutsideClick($event)">
  <div class="container">
    <div class="header">
      <span>Invite to Workgroup</span>
      <div class="close-window" (click)="closeWindow()">
        <fa-icon [icon]="faXmark"></fa-icon>
      </div>
    </div>
    <div class="body"> <!--user search-->
      <div *ngIf="filteredResults$ | async as array" class="search">
        <div class="search-bar">
          <input type="text" class="" [formControl]="searchControl" />
          <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        </div>
          <div class="search-results"> <!--search result-->
            <ul class="result-list">
              <li *ngFor="let result of array" (click)="addToEvent(result)" class="result-entry">
                <fa-icon [icon]="faUser"></fa-icon>
                <span >{{result}}</span>
              </li>

            </ul>
          </div>
      </div>
      <div class="invited-users">  <!--list of users that have been selected-->
        <ul class="result-list">
          <li>
            <span>Currently invited: </span>
          </li>
          <li *ngFor="let username of invitedUsers" class="result-entry">
            <fa-icon [icon]="faUser"></fa-icon>
            <span >{{username}}</span>
            <div class="remove-user" (click)="removeFromEvent(username)">
              <fa-icon [icon]="faXmark"></fa-icon>
            </div>
          </li>
          <li *ngIf="invitedUsers.length == 0" >
            <span class="no-users">
              No new users invited
            </span>
          </li>
          <li class="already-invited">Already in event:</li>
          <li *ngFor="let eventUser of event.eventUsers" class="result-entry">
            <span>{{eventUser.username}}</span>
          </li>
        </ul>
      </div>



    </div>
    <div class="footer">
      <button (click)="closeWindow()"
        class="cancel-button">Discard</button>
      <button (click)="sendUserInvites()" [disabled]="invitedUsers.length < 1"
        class="invite-button">Send invites</button>
    </div>
  </div>
</div>
