

  <div class="home-page">
    <div class="limiter">
      <div class="my-item">
        <div class="header">
          <span class="headline">My Events</span>
          <div class="header-buttons">
            <div class="add-task-btn pointer-cursor" (click)="createNewEvent()">
              <fa-icon [icon]="faPlus"></fa-icon>
            </div>
          </div>
        </div>
        <div class="event-board user-events">
          <div *ngFor="let event of events">
            <div class="event" (click)="clickedOnEvent(event.id)">
              <fa-icon [icon]="faImage" class="event-image"></fa-icon>

              <div class="event-title">
                {{event.title}}
              </div>
              <div class="event-description">
                <span>{{event.description}}</span>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="my-item">
        <div class="header">
          <span class="headline">My tasks</span>
          <ul class="header-buttons">
            <li class="pointer-cursor" (click)="filterTasks(0)"> All tasks </li>
            <li class="pointer-cursor" (click)="filterTasks(1)"> My tasks</li>
            <li class="pointer-cursor" (click)="filterTasks(2)"> This week </li>
            <li class="pointer-cursor" (click)="filterTasks(3)"> Completed </li>
            <li class="event-picker">
              <button (click)="prev()"  class="current-event-buttons"> < </button>
              <div class="current-event">
                <span>{{this.events[this.activeEvent].title}}</span>
              </div>
              <button (click)="next()" class="current-event-buttons"> > </button>
            </li>
            <li class="add-task-btn pointer-cursor" (click)="createNewTask()">
              <fa-icon [icon]="faPlus"></fa-icon>
            </li>
          </ul>
        </div>
        <app-user-tasks class="board"></app-user-tasks>
      </div>
    </div>
  </div>


