<div class="background-image">
  <div class="limiter">
    <div class="description">
      <span>ToDoList</span>
    </div>
    <div class="login-container">
      <div class="login-wrapper">
        <span class="title">Register new account</span>
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)" class="login-form">
          <div class="login-data-wrapper">
            <fa-icon [icon]="faEnvelope"></fa-icon>
            <input type="text" class="login-data" name="username" placeholder="Username"
                   ngModel #usernameInput="ngModel" required>
          </div>
          <span *ngIf="usernameInput.invalid && usernameInput.touched" class="invalid-details">Please enter a username</span>
          <div class="login-data-wrapper">
            <fa-icon [icon]="faLock"></fa-icon>
            <input type="password" class="login-data" name="password" placeholder="Password"
                   ngModel #passwordInput="ngModel" required>
          </div>
          <span *ngIf="passwordInput.invalid && passwordInput.touched" class="invalid-details">Please enter a password</span>

          <span class="valid-details">{{registerMessage}}</span>
          <span class="invalid-details">{{registerErrorMessage}}</span>
          <button type="submit" [disabled]="registerForm.invalid || showLoading" name="register-button" class="btn register-btn">
            <span *ngIf="showLoading">LOADING...</span>
            <span *ngIf="!showLoading">REGISTER ACCOUNT</span>
          </button>
        </form>
        <div class="redirect-login" routerLink="/login">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
          <span>Back to login page</span>
        </div>
      </div>
    </div>
  </div>
</div>
