<nav class="nav">
  <div class="limiter">


    <div class="home-icon pointer-item"> <!--home icon-->
      <fa-icon [icon]="faHome" routerLink="/home"></fa-icon>
    </div>


    <form [formGroup]="searchForm" class="search-bar"> <!--search bar-->
      <input type="text"  placeholder="Search for events"
             formControlName="search" (keydown.enter)="searchTasks()">
      <fa-icon [icon]="faMagnifyingGlass" (click)="searchTasks()" class="search-btn pointer-item"></fa-icon>
    </form>


    <div class="account-elements" (clickedOutside)="closeUserAndNotificationMenu()">  <!--account elements-->

      <div class="dropdown-menu-parent">  <!--notification icon icon-->
        <div (click)="toggleNotificationDropdownMenu()" class="bell-icon pointer-item">
          <fa-icon [icon]="faBell" ></fa-icon>
        </div>
        <ul class="dropdown-menu " *ngIf="notificationMenuVisible">
          <li>
            You have no notifications
          </li>
        </ul>
      </div>

      <div class="dropdown-menu-parent" > <!--user icon-->
        <div (click)="toggleUserDropdownMenu()" class="user-icon pointer-item">
          <fa-icon [icon]="faUser" ></fa-icon>
        </div>
        <ul class="dropdown-menu" *ngIf="userMenuVisible">
          <li class="dropdown-menu-item pointer-item">
            <span>
                <fa-icon [icon]="faSettings" class="dropdown-icon fa-fw" ></fa-icon>
                Settings
            </span>
          </li >
          <li class="dropdown-menu-item pointer-item">
              <span>
                <fa-icon [icon]="faFriends" class="dropdown-icon fa-fw"></fa-icon>
                Friends
              </span>
          </li>
          <li class="dropdown-menu-item pointer-item">
              <span (click)="logout()" class="logout-btn">
                <fa-icon [icon]="faLogout" class="dropdown-icon fa-fw"></fa-icon>
                Logout
              </span>
          </li>
        </ul>
      </div>
    </div>


  </div>
</nav>
