<div *ngIf="currentEvent$ | async; let event" class="event">

    <app-sidebar [group]="event" (windowOpenerEmitter)="openWindowByEmitter($event)" class="event-sidebar"></app-sidebar>
<!--    <div  class="event-details">
      <span class="headline">{{event.title}}</span>
      <span class="description">{{event.description}}</span>

    </div>


    </div>-->


    <div class="event-board">
      <app-user-tasks [event]="currentEvent$ | async" ></app-user-tasks>
    </div>

  <div class="delete-event-confirmation" *ngIf="deleteEventConfirmation">
    <div class="delete-event-confirmation-window" >
      <span>Do you really want to delete group?</span>
      <button (click)="deleteEvent(event.id)">Yes</button>
      <button (click)="toggleDeleteEventConfirmation(false)">No</button>

    </div>
  </div>

      <app-invite-users *ngIf="openParticipatorsWindow"
                        [event]="event"
                        class="participators-window"
                        (closeWindowEvent)="toggleParticipatorWindow(false)">
      </app-invite-users>

</div>

