.nav {
  background: rgba(255,244,235,0.25);
  display: flex;
  justify-content: space-around;

}

.search-bar {
  position: relative;
  background: #dadada;
  border-radius: 25px;
  padding: 10px;
  width: 300px;
  margin: 10px;

}

.search-bar > fa-icon {
  position: absolute;
  right: 10px;
  font-size: 20px;
  padding: 3px;
}

.search-bar > input {
  background: #dadada;
  border: none;
  width: 275px;
  font-size: 1.2rem;
}
.search-bar > input:focus {
  outline: none;
}

.search-btn:hover {
  cursor: pointer;
}

.dropdown-menu-parent {
  position: relative;
  align-self: center;
}

.user-logo {
  padding: 7px;
  font-size: 2rem;
  background: #dadada;
  border-radius: 50%;
}

.user-logo:hover {
  cursor: pointer;
}


.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #dadada;
  list-style: none;
  font-size: 1.5rem;
  right: -10px;
  top: 25px;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
}

.dropdown-menu-hidden {
  opacity: 0;
  pointer-events: none;
}

.dropdown-menu > li{
  border: black 1px solid;
  margin: 20px 10px;
}

.dropdown-menu li:not(:last-child) {
  padding: 15px;
}

.logout-btn {

}


.dropdown-menu > :hover {

}
