
  <div class="limiter">
    <div class="task-container" *ngIf="(task$ | async) as task">
      <form #taskForm="ngForm" class="task-form">
      <span>Task title:</span>
      <input type="text" class="task-data-wrapper" name="title" placeholder="Title" maxlength="20" [ngModel]="task.title"
      ngModel #titleInput="ngModel" required>

      <span>Pick a date:</span>
      <mat-form-field class="task-date-form" appearance="fill"  >
        <mat-label>DD/MM/YYYY</mat-label>
        <input matInput [matDatepicker]="picker" name="date" ngModel #dateInput="ngModel"  [ngModel]="task.date" required>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <span>Task description:</span>
      <textarea type="text" class="task-data-wrapper task-textarea" maxlength="255" name="description" placeholder="description"
      ngModel #descriptionInput="ngModel" [ngModel]="task.description"  required
      ></textarea>

      <span>Pick a color:</span>
      <input type="text" class="task-data-wrapper" name="color" placeholder="#dadada"
      ngModel #colorInput="ngModel">
        <span>Select tags:</span>
      <ul class="tags" *ngIf="availableTags$ | async as userTags"   >
        <label *ngFor="let tag of userTags" class="available-tags">
          <input type="checkbox"  (change)="OnCheckBoxSelect(tag, $event)" class="checkbox" name="tags" [checked]="task.tags.includes(tag)">
          <p class="item">{{tag}}</p>
        </label>
      </ul>

      <div class="task-form-buttons" *ngIf="availableTags$ | async as userTags">
        <button type="submit"
        [disabled]="taskForm.invalid && task == null" (click)="onSubmit(taskForm.value, task, userTags); taskForm.resetForm()">Save</button>
        <button (click)="taskForm.resetForm(); onCancel()" >cancel</button>
      </div>
      </form>
    </div>
  </div>

