

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #dadada inset !important;

} /*removes browser autofill color*/


.task-container {
  z-index: 2;
  margin: 50px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 50px;
}

.task-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.task-data-wrapper {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  background: #dadada;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #6c6c6c;
}

.task-date-form {
  width: 100%;
  padding: 10px;
}

.task-textarea {
  resize: none;
  height: 80px;
}

.task-form-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.tags {
  display: flex;
  margin: 0;
  padding: 10px 0;
  gap: 5px;
  flex-wrap: wrap;
}

.item {
  min-width: 4rem;
  flex-grow: 1;
  padding: 3px;
  border: 1px solid #8d8d8d;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.available-tags  .checkbox{
  display: none;
}

.available-tags .checkbox:checked ~ .item {
  background: rgba(65, 159, 69, 0.51);
  transition: all 0.2s ease-out;
}
