<div class="wrapper"*ngIf="currentEvent" >
  <public-user-card [publicUserModel]="publicUser" [isProfilePage]="false" *ngIf="publicUser != null" class="additional-user-info" [ngStyle]="styles"></public-user-card>
  <div class="container">
    <div class="header">
      <span>Assign users to task</span>
    </div>
    <div class="body" >
      <ul class="available-users"   >
        <li>
          <span class="list-header">Available: </span>
        </li>
        <li *ngFor="let eventUser of availableUsers" (click)="assignUser(eventUser)" (mouseenter)="openUserData(eventUser, $event)" (mouseleave)="openUserData(null, $event)">
          <img [src]="'data:image/jpg;base64,' + this.eventUser.imageString" class="profile-picture">
          {{eventUser.username}}
        </li>
      </ul>
      <ul class="assigned-users">
        <li class="">
          <span class="list-header">Assigned:</span>
        </li>
        <li *ngFor="let user of assignedUsers" (click)="removeUser(user)" (mouseenter)="openUserData(user, $event)" (mouseleave)="openUserData(null, $event)">
          <img [src]="'data:image/jpg;base64,' + this.user.imageString" class="profile-picture">
          {{user.username}}
        </li>

      </ul>
    </div>
    <div class="footer">

    </div>
    <div class="assign-buttons">
      <button (click)="closeWindow()" class="cancel-button">Discard</button>
      <button (click)="confirmAssign(assignedUsers, currentEvent.id)" class="accept-button">Assign</button>
    </div>
  </div>
</div>
