.wrapper {
  position: absolute;
  top: -100px;
  right: -200px;
  height: 600px;
  width: 400px;



}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px #888888;

  cursor: default;
}

.header {
  margin: 10px auto;
  height: 10%;
  font-size: 2rem;
}

.body {

  height: 80%;
}

.list-header {
  font-size: 1.6rem;
  color: #989898;
}


.available-users {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 50%;
}

.assigned-users {
  height: 50%;
  margin-top: 10px;
  list-style: none;
}

.footer {
  height: 10%;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 10px;

  cursor: pointer;
}

.assign-buttons {
  display: flex;
  margin: 0 30px 15px auto;
  gap: 30px;

}

.accept-button {
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 5px;
  padding: 8px;
  color: white;
  background: #88de73;
  border: none;
}

.cancel-button {
  cursor: pointer;
  color: #b34643;
  background: none;
  border: none;
}


