<div class="wrapper" (clickedOutside)="closeWindow(false)">
  <div class="container">
    <div class="header">
      <span>Assign users to task</span>
    </div>
    <div class="body">
      <ul class="available-users">
        <li>
          <span class="list-header">Available: </span>
        </li>
        <li *ngFor="let username of canBeAssigned" (click)="assignUser(username)">
          {{username}}
        </li>
      </ul>
      <ul class="assigned-users">
        <li class="">
          <span class="list-header">Assigned:</span>
        </li>
        <li *ngFor="let username of assignedUsers" (click)="removeUser(username)">
          {{username}}
        </li>
      </ul>
    </div>
    <div class="footer">

    </div>
    <div class="assign-buttons">
      <button (click)="closeWindow(false)" class="cancel-button">Discard</button>
      <button (click)="closeWindow(true)" class="accept-button">Assign</button>
    </div>
  </div>
</div>
