<div class="container">
  <p class="name">
    {{publicUserModel.username}}
  </p>
  <div class="active">
    <fa-icon [icon]="faCheckCircle"></fa-icon>
    <p>Online</p>
  </div>
  <div class="profile-picture">

    <img [src]="this.publicUserModel.imageString" [height]="100" [width]="100">
    <fa-icon [icon]="faPencil" class="edit-picture" *ngIf="isProfilePage" (click)="toggleEditPictureWindow(true)"></fa-icon>
  </div>
  <p class="join-date">
      Joined on:
  </p>
  <div class="other-data">
    <p>Groups Joined: </p>
    <p>Tasks created: </p>
    <p>Tasks completed: </p>
    <p>Active tasks: </p>
  </div>
  <upload-picture *ngIf="isEditPictureViewOpen" (closeWindowEvent)="toggleEditPictureWindow(false)"></upload-picture>
</div>
