<div class="container">
  <p class="name">
    {{publicUserModel.username}}
  </p>
  <div class="message" [class.active]="isUserLoggedIn">
    <fa-icon [icon]="faCheckCircle" *ngIf="isUserLoggedIn"></fa-icon>
    <p>{{userActivityMessage}}</p>
  </div>
  <div class="profile-picture">

    <img [src]="this.publicUserModel.imageString" [height]="100" [width]="100">
    <div class="edit-picture" >
      <fa-icon [icon]="faPencil" *ngIf="isProfilePage" (click)="toggleEditPictureWindow(true)"></fa-icon>
    </div>
  </div>
  <p class="join-date">
      Joined on: {{publicUserModel.joinDate}}
  </p>
  <div class="other-data">
    <p>Groups Joined: {{publicUserModel.groupsJoined}}</p>
    <p>Tasks created: {{publicUserModel.tasksCreated}}</p>
    <p>Tasks completed: {{publicUserModel.tasksCompleted}}</p>
    <p>Active tasks: {{publicUserModel.activeTasks}}</p>
  </div>
  <upload-picture *ngIf="isEditPictureViewOpen" (closeWindowEvent)="toggleEditPictureWindow(false)"></upload-picture>
</div>
