<div class="background-blur" >
    <div class="task-container">
      <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm.value)" class="task-form">

        <input type="text" class="task-data-wrapper" name="title" placeholder="Title"
               ngModel #titleInput="ngModel" required>

        <mat-form-field class="example-full-width" appearance="fill"  >
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" name="date" ngModel #dateInput="ngModel" required>
          <mat-hint>DD-MM-YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <textarea type="text" name="description" placeholder="description"
          ngModel #descriptionInput="ngModel" required
        ></textarea>
        <input type="text" class="task-data-wrapper" name="color" placeholder="#dadada"
            ngModel #colorInput="ngModel">
        <button type="submit">Create form task</button>

      </form>





      <div *ngIf="taskId!=0"> <!--if new task is created-->
        <p>Id of the task: {{taskId}}</p>
        <button (click)="deleteTask(taskId)">Delete task</button>
      </div>
      <div *ngIf="taskId!=0">
        <button (click)="onSubmit(taskForm.value)" >Save</button>
      </div>
      <div *ngIf="taskId==0">
        <button  (click)="createNewTask()">create new task</button> <!--if task is edited-->
      </div>
    </div>
</div>
