

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #dadada inset !important;

} /*removes browser autofill color*/
.background-image {
  background-image: linear-gradient(to bottom right, #a5dbe0, #528846);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.limiter {
  position: relative;
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 30px;
}

.task-container {
  z-index: 2;
  margin: 50px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 50px;
}

.task-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.task-data-wrapper {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  background: #dadada;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #6c6c6c;
}

.task-date-form {
  width: 100%;
  padding: 10px;
}

.task-textarea {
  resize: none;
  height: 80px;
}

.task-form-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
