<div class="limiter" *ngIf="currentUser$ | async; let user">

  <public-user-card [publicUserModel]="getPublicUserModel(user)" [isProfilePage]="isUserOwnProfile" *ngIf="user">
  </public-user-card>
  <div class="user-info-card">
    <div class="user-info">
      <div class="user-info-header">
        <span *ngIf="isUserOwnProfile">Profile</span>
        <span *ngIf="!isUserOwnProfile">/Username/</span>

      </div>


      <ul class="user-data" >
        <li>
          <p class="bold">Name:</p>
          <p>{{user.username}}</p>
        </li>
        <li>
          <p class="bold">Email: </p>
          <p>{{user.email}}</p>
        </li>
      </ul>
    </div>
    <div class="activities-menu">

      <form class="user-data-form">
        <input type="radio" id="activity" name="user-data-cards" value="0" (click)="changeSelected(0)" checked>
        <label for="activity" >Activity history</label>
        <input type="radio" id="friends" name="user-data-cards" value="1" (click)="changeSelected(1)">
        <label for="friends">Friends</label>
        <input type="radio" id="comments" name="user-data-cards" value="2" (click)="changeSelected(2)">
        <label for="comments">Comments</label>
        <div class="border"></div>
      </form>

      <p *ngIf="selectedMenu==0">Activity history</p>
      <p *ngIf="selectedMenu==1">Friends</p>
      <p *ngIf="selectedMenu==2">Messages</p>
      <div class="activity">
      </div>
      <div class="friends"></div>
      <div class="messages"></div>
    </div>
  </div>
</div>
