.limiter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

}

p {
  margin: 0;
}

public-user-card {
  margin-right: 50px;
}

.user-info {
  height: 20rem;
}

.user-info-header {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #5e5e5e;
}


.user-info-header > fa-icon:hover {
  cursor: pointer;
  background: #b2b2b2;

}




.header::after {
  content: "";
  position: absolute;
  border-top: 1px solid #bdbdbd;
  left: 0;
  bottom: 0;
  width: 100%;
}

.user-data {
  width: 50%;
}

.user-data > li {
  font-size: 1.2rem;
  list-style: none;
  display: grid;
  grid-template-columns: 4rem 10rem 2rem;
  margin: 5px;
  gap: 5px;
}

.user-data fa-icon{
  margin-left: auto;
}

.bold {
  font-weight: bold;
  justify-self: flex-end;
}

.user-info-card {

  padding: 20px;
  height: 90%;
  width: 35rem;


  background: #e3e3e3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.activities-menu {

}

.menu-selector-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}



