<div class="limiter">

  <public-user-card>
  </public-user-card>
  <div class="user-info-card">
    <div class="user-info">
      <div class="header">
        <span>User info</span>
        <fa-icon [icon]="faPenToSquare" ></fa-icon>
      </div>


      <ul class="user-data">
        <li>
          <p class="bold">Username:</p>
          <p>JohnDoe</p>
        </li>
        <li>
          <p class="bold">Email: </p>
          <p>JohnDoe</p>
        </li>
      </ul>
    </div>
    <div class="user-activity">

    </div>
  </div>


</div>
