

<div class="header">
  <span class="headline">My tasks</span>
  <ul class="header-buttons">
    <li class="pointer-cursor"> All tasks </li>
    <li class="pointer-cursor"> This week</li>
    <li class="pointer-cursor"> Uncompleted </li>
    <li class="pointer-cursor"> Completed </li>
    <li class="add-task-btn pointer-cursor" (click)="addTestTask()">
      <fa-icon [icon]="faPlus"></fa-icon>
    </li>
  </ul>
</div>
<div id="board">
  <div class="task" *ngFor="let task of tasks"

       [cdkDragData]="task" (cdkDragEnded)="taskDropped(task, $event)"
       [cdkDragFreeDragPosition]="getTaskLocation(task)"
       cdkDragBoundary="#board"
       cdkDrag>
    <div class="task-content">
      <h3>{{task.title}}</h3>
      <p>{{task.description}}</p>
      <button (click)="deleteTask(task.id)">Delete</button>
    </div>
  </div>
</div>


