.header {
  display: flex;
  background: #dadada;
  height: 30px;
}

.pointer-cursor:hover{
  cursor: pointer;
  background: rgba(0,0,0,0.25);
}

.headline {
  font-size: 1.2rem;
  width: 15%;
  align-self: center;
  margin: 0 10px;
}

.header-buttons {
  display: flex;
  gap: 10px;
  list-style: none;
  align-items: center;
  width: 85%;
}

.header-buttons > li:not(:last-child) {
  padding: 5px;
}

.add-task-btn {
  border-radius: 50%;
  font-size: 1.4rem;
  background: #c5c5c5;
  margin-left: auto;
  margin-right: 5px;
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
}


#board {
  position: relative;
  height: calc(100% - 30px);

}

.task {
  z-index: 1;
  position: absolute;
  width: 100px;
  min-height: 100px;
  background: white;
  border-radius: 5px;
  border: #6c6c6c 1px solid;
}

.task-content{
  position: relative;
  height: 100%;
}

.task-content > p {
  margin: 0 10px;
  word-break: break-word;

}

.task-content > button{
  position: absolute;
  right: 0;
  top: 0;
}
