


<div id="board">
  <button (click)="addTestTask()" class="add-task-btn" >addTask</button>
  <div class="task" *ngFor="let task of tasks"

       [cdkDragData]="task" (cdkDragEnded)="taskDropped(task, $event)"
       [cdkDragFreeDragPosition]="getTaskLocation(task)"
       cdkDragBoundary="#board"
       cdkDrag>
    <div class="task-content">
      <h3>{{task.title}}</h3>
      <p>{{task.description}}</p>
      <button (click)="deleteTask(task.id)">Delete</button>
    </div>
  </div>
</div>


