.nav {
  background: rgba(255,244,235,0.25);
}

.nav-limiter {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.pointer-item:hover {
  cursor:pointer;
}




.home-icon {
  display: flex;
  font-size: 1.7rem;
  background: #faffff;
  aspect-ratio: 1/1;
  border-radius: 50%;

}

.home-icon > fa-icon{
  padding: 5px;
  margin: auto;

}

.search-bar {
  position: relative;
  background: #faffff;
  border-radius: 25px;
  padding: 10px;
  width: 40vw;
  max-width: 400px;
  margin: 10px;

}

.search-bar > fa-icon {
  position: absolute;
  right: 10px;
  font-size: 20px;
  padding: 3px;
}

.search-bar > input {
  background: #faffff;
  border: none;
  width: 92%;
  font-size: 1.2rem;
}
.search-bar > input:focus {
  outline: none;
}


.dropdown-menu-parent {
  position: relative;
}

.account-elements {
  display: flex;
  gap: 8px;
}

.bell-icon {
  padding: 7px;
  font-size: 2rem;
  background: #faffff;
  border-radius: 50%;
  position: relative;
}

.bell-icon-notifications{
  position: absolute;
  background: red;
  border-radius: 50%;
  top: -4px;
  right: -4px;
  height: 10px;
  width: 10px;
  padding: 3px;
}

.bell-icon-notifications > span {
  color: white;
  font-size: 0.8rem;
  position: absolute;
  top: -2px;
  right: 4px;
}

.user-icon {
  padding: 7px;
  font-size: 2rem;
  background: #faffff;
  border-radius: 50%;
}


.dropdown-menu {

}

.dropdown-menu-list {
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #faffff;
  list-style: none;
  font-size: 1.5rem;
  right: -10px;
  top: 25px;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
}

.dropdown-menu-item {
  align-self: stretch;
  margin: 10px 10px;
  padding: 15px;
  display: flex;
}


.dropdown-icon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  padding: 5px;
  background: #c5c5c5;
  background-size: 25px 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.list-header {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;

}

.list-header-buttons {
  display: flex;

}



@media (max-width: 768px) {

  .search-bar > input{
    font-size: 1rem;
  }

  .search-bar > fa-icon {
    font-size: 1em;
    padding: 2px;
  }

}


