/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.limiter {
  position: relative;
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 30px;
}

.text-data-wrapper {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 380px;
  background: #dadada;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #6c6c6c;
}

.cursor-pointer {
  cursor: pointer;
}


