<div class="home">
    <div class="sidebar-toggle" (click)="toggleSidebar()">
      <fa-icon [icon]="faBars" *ngIf="!isSideBarVisible"></fa-icon>
      <fa-icon [icon]="faAngleLeft" *ngIf="isSideBarVisible"></fa-icon>
    </div>


    <div class="sidebar" *ngIf="isSideBarVisible">
      <div class="date-selector">

          <mat-calendar
            (selectedChange)="customDatesSelected($event)"
            [selected]="selectedDateRange"
          (mouseleave)="setOneDate()">
          </mat-calendar>
        <div class="predefined-dates">
          <button (click)="buttonDatesSelected(0)">Today</button>
          <button (click)="buttonDatesSelected(1)">This Week</button>
          <button (click)="buttonDatesSelected(2)">This Month</button>
          <button (click)="buttonDatesSelected(999)">Clear</button>
        </div>
      </div>
      <div class="task-tags">
        <div class="sidebar-header">
          <p>Tags</p>
          <label class="sidebar-add-button" (click)="creatingNewTag = true" for="tagInputField">+</label>
        </div>

        <ul class="sidebar-list" *ngIf="(currentUser$ | async); let user">
          <li *ngIf="user.taskTags.length == 0 && creatingNewTag == false" >
            <p>You have no custom tags, press the + button to create one</p>
          </li>
          <li *ngIf="creatingNewTag" class="sidebar-list-item">
            <input type="text" class="item tag-input" id="tagInputField" (keydown.enter)="addNewTag($event)">
          </li>
          <li *ngFor="let tag of user.taskTags" class="sidebar-list-item">
            <label class="item-label">
              <input type="checkbox"  (change)="OnCheckBoxSelect(tag, $event)" class="checkbox">
              <p class="item">{{tag}}</p>
            </label>
            <fa-icon [icon]="faTrashCan" (click)="deleteTag(tag)" class="tag-delete-button" id="tag-delete-button"></fa-icon>
          </li>
        </ul>
      </div>
      <div class="groups">
        <div class="sidebar-header">
          <p>Groups</p>
          <p class="sidebar-add-button">+</p>
        </div>
        <ul class="sidebar-list" *ngIf="groups$ | async; let groups">
          <li *ngIf="groups.length == 0">
            <p>You have no groups, press the + button to create one</p>
          </li>
          <li *ngFor="let group of groups" class="sidebar-list-item" (click)="openGroup(group)">
            <p class="item">{{group.title}}</p>
          </li>

        </ul>
      </div>
    </div>
    <app-user-tasks class="tasks-view">
    </app-user-tasks>
</div>



