<div class="home">

    <div class="sidebar">
      <div class="date-selector">

          <mat-calendar
            (selectedChange)="customDatesSelected($event)"
            [selected]="selectedDateRange"
          (mouseleave)="setOneDate()">
          </mat-calendar>
        <div class="predefined-dates">
          <button (click)="buttonDatesSelected(0)">Today</button>
          <button (click)="buttonDatesSelected(1)">This Week</button>
          <button (click)="buttonDatesSelected(2)">This Month</button>
          <button (click)="buttonDatesSelected(999)">Clear</button>
        </div>
      </div>
      <div class="task-tags">
        <div class="sidebar-header">
          <p>Tags</p>
          <label class="sidebar-add-button" (click)="creatingNewTag = true" for="tagInputField">+</label>
        </div>

        <ul class="sidebar-list" *ngIf="(currentUser$ | async); let user">
          <li *ngIf="user.taskTags.length == 0 && creatingNewTag == false" >
            <p>You have no custom tags, press the + button to create one</p>
          </li>
          <li *ngIf="creatingNewTag" class="sidebar-list-item">
            <input type="text" class="item tag-input" id="tagInputField" (keydown.enter)="addNewTag($event)">
          </li>
          <label *ngFor="let tag of user.taskTags" class="sidebar-list-item">
            <input type="checkbox"  (change)="OnCheckBoxSelect(tag, $event)" class="checkbox">
            <p class="item">{{tag}}</p>
          </label>
        </ul>
      </div>
      <div class="groups">
        <div class="sidebar-header">
          <p>Groups</p>
          <p class="sidebar-add-button">+</p>
        </div>
        <ul class="sidebar-list" *ngIf="groups$ | async; let groups">
          <li *ngIf="groups.length == 0">
            <p>You have no groups, press the + button to create one</p>
          </li>
          <li *ngFor="let group of groups" class="sidebar-list-item">
            <p class="item">{{group.title}}</p>
          </li>

        </ul>
      </div>
    </div>
    <app-user-tasks class="tasks-view">
    </app-user-tasks>
</div>




<!--  <div class="home-page">
    <div class="limiter">
      <div class="my-item">
        <div class="header">
          <span class="headline">My Events</span>
          <div class="header-buttons">
            <div class="add-task-btn pointer-cursor" (click)="createNewEvent()">
              <fa-icon [icon]="faPlus"></fa-icon>
            </div>
          </div>
        </div>
        <div class="event-board user-events">
          <div *ngFor="let event of events$ | async ">
            <div class="event" (click)="clickedOnEvent(event.id)">
              <fa-icon [icon]="faImage" class="event-image"></fa-icon>

              <div class="event-title">
                {{event.title}}
              </div>
              <div class="event-description">
                <span>{{event.description}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="my-item">
        <div class="header">
          <span class="headline">My tasks</span>
          <ul class="header-buttons">
            <li class="add-task-btn pointer-cursor" (click)="createNewTask()">
              <fa-icon [icon]="faPlus"></fa-icon>
            </li>
          </ul>
        </div>
        <app-user-tasks class="board"></app-user-tasks>
      </div>
    </div>
  </div>-->


