<div class="home">

    <div class="sidebar">
      <div class="date-selector">
        <div class="predefined-dates">
          <p (click)="buttonDatesSelected(0)">Today</p>
          <p (click)="buttonDatesSelected(1)">This Week</p>
          <p (click)="buttonDatesSelected(2)">This Month</p>
        </div>
          <mat-calendar
            (selectedChange)="customDatesSelected($event)"
            [selected]="selectedDateRange">
          </mat-calendar>
      </div>
      <div class="task-tags"></div>
      <div class="groups"></div>
    </div>
    <div class="tasks-view">

    </div>

</div>




<!--  <div class="home-page">
    <div class="limiter">
      <div class="my-item">
        <div class="header">
          <span class="headline">My Events</span>
          <div class="header-buttons">
            <div class="add-task-btn pointer-cursor" (click)="createNewEvent()">
              <fa-icon [icon]="faPlus"></fa-icon>
            </div>
          </div>
        </div>
        <div class="event-board user-events">
          <div *ngFor="let event of events$ | async ">
            <div class="event" (click)="clickedOnEvent(event.id)">
              <fa-icon [icon]="faImage" class="event-image"></fa-icon>

              <div class="event-title">
                {{event.title}}
              </div>
              <div class="event-description">
                <span>{{event.description}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="my-item">
        <div class="header">
          <span class="headline">My tasks</span>
          <ul class="header-buttons">
            <li class="add-task-btn pointer-cursor" (click)="createNewTask()">
              <fa-icon [icon]="faPlus"></fa-icon>
            </li>
          </ul>
        </div>
        <app-user-tasks class="board"></app-user-tasks>
      </div>
    </div>
  </div>-->


