.home {
  margin: 40px;

  width: calc(100% - 80px);
  display: flex;
  flex-direction: row;
  gap: 40px;

}

.sidebar {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0px 15px 15px 20px;
  width: 300px;
  background: #faffff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  overflow-y: auto;
}

.tasks-view {
  height: calc(100vh - 140px);
  border-radius: 10px;
  min-width: 200px;
  background: #f1ffef;
  flex-grow: 1;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.predefined-dates {
  border-radius: 3px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.predefined-dates > button {
  cursor: pointer;
  padding: 5px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #8d8d8d;
  border-radius: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.date-selector {
  width: 100%;
  justify-content: center;
}

.task-tags {
  margin-top: 20px;
}

.sidebar-header {
  display: flex;
  font-size: 1.3rem;
  justify-content: space-between;
}

.sidebar-add-button {
  border-radius: 50%;
  border: 1px solid #8d8d8d;
  background: rgba(255, 255, 255, 0.2);
  height: 20px;
  width: 20px;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.sidebar-list {
  list-style: none;

  max-height: 20vh;
  padding: 0;
  position: relative;
}

.sidebar-list-item {
  margin: 5px;
  border: 1px solid #8d8d8d;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.sidebar-list-item:hover {
  background: rgba(255, 255, 255, 0.5);
}


.sidebar-list-item .item {
  margin: 0;
  width: 100%;
  padding: 5px;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease-out;
}


.sidebar-list-item  .checkbox{
  display: none;
}

.sidebar-list-item .checkbox:checked ~ .item {
  background: rgba(65, 159, 69, 0.51);
  transition: all 0.2s ease-out;
}

.groups {
  margin-top: 20px;
}

.tag-input {
  outline: none;
  border: none;
  height: 20px;

}





/*


.home-page {
  height: 100vh;

}




.my-item{
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  background: rgba(255,255,255,0.25);
  width: 100%;
  height: 50%;
  margin-bottom: 30px;
}


.board {
  position: relative;
  height: calc(100%);
  display: flex;
  flex-direction: column;
}


.header {
  display: flex;
  background: #dadada;
  height: 40px;
}

.user-events {
  height: calc(100% - 40px);
}

.pointer-cursor:hover{
  cursor: pointer;
  background: rgba(0,0,0,0.25);
}

.headline {
  font-size: 1.2rem;
  width: 15%;
  align-self: center;
  margin: 0 10px;
}

.header-buttons {
  display: flex;
  gap: 10px;
  list-style: none;
  align-items: center;
  width: 85%;
}

.header-buttons > li:not(:last-child) {
  padding: 10px 5px;
}

.add-task-btn {
  border-radius: 50%;
  font-size: 1.4rem;
  background: #dadada;
  margin-left: auto;
  margin-right: 5px;
  display: flex;
  width: 25px;
  height: 25px;

  justify-content: center;
  align-items: center;
}

.active {
  transition: all 0.3s ease;
}

.event-picker {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: min(300px, 14vw);
  flex-grow: 1;
  height: 30px;
}

.current-event {
  flex-grow: 1;
  align-self: center;
  padding: 5px;
  background: #e9efee;
  border: 1px solid #9f9f9f;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a1a4;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.event-board {
  position: relative;
  height: calc(100%);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}


.event {
  display: flex;
  margin: 10px auto;
  background: #dadada;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #6c6c6c;
  align-items: center;

  cursor: pointer;
  height: 80px;
  transition: ease 0.5s;
}

.event:hover{
  transform: translateY(-2px);
}

.event-image {
  font-size: 5rem;
  margin-left: 5px;
}

.event-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 0 20px;
  max-width: 60%;
  height: 100%;
}

.event-description {
  height: 70%;
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333333;
}

.current-event > span {
  transition: transform 0.5s ease-in-out;
}





*/
