<div class="background" (click)="closeWindowOutsideClick($event)">
  <div class="container">
    <p class="header">Choose a new profile picture</p>

    <div class="preview" >
    <input type="file" (change)="selectPicture($event)" id="choose-img-btn">
      <img [src]="preview" class="upload-area" *ngIf="preview !== ''" >

      <div class="upload-area"  *ngIf="preview == ''">
        <div class="camera-icon">
          <fa-icon  [icon]="faCamera"></fa-icon>
        </div>
        <p>Click here to select an image</p>
      </div>
    </div>
    <p class="response-message">{{this.responseMessage$ | async}}</p>
    <div class="assign-buttons">
      <button (click)="closeWindowEvent.emit()" class="cancel-button">Cancel</button>
      <button (click)="uploadImage()" class="accept-button">Upload</button>
    </div>
  </div>
</div>
